button.animated {
    position: relative;
    display: flex;
    justify-content: center;
}

button.animated.previous {
    --before-content: "⬅";
    --hover-offset: 0.6em;
}

button.animated.next {
    --after-content: "➡";
    --hover-offset: -0.6em;
}

button.animated > span {
    transition: transform var(--transition-duration);
}

button.animated:hover > span {
    transform: translateX(var(--hover-offset));
}

button.animated > span::before,
button.animated > span::after {
    position: absolute;
    transition: opacity var(--transition-duration);
    opacity: 0;
}

button.animated > span::before {
    content: var(--before-content);
    right: calc(100% + 0.5em);
}

button.animated > span::after {
    content: var(--after-content);
    left: calc(100% + 0.5em);
}

button.animated:hover > span::before,
button.animated:hover > span::after {
    opacity: 1;
}