.window-title {
    animation: fade-in-title var(--animation-duration);
}

.window-list {
    animation: fade-in-list var(--animation-duration);
}

.spinner {
    animation: spin calc(var(--animation-duration) * 1.5) infinite;
}

.reset-button:hover {
    animation: spin var(--animation-duration);
}

.window-progress-bar {
    animation-fill-mode: forwards;
}

@keyframes loading {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes spin {
    from {
        transform: none;
    }
    to {
        transform: rotate(1turn);
    }
}

@keyframes previous-step {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes next-step {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes fade-in-title {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fade-in-list {
    from {
        opacity: 0;
        transform: translateY(2em);
    }
    to {
        opacity: 1;
        transform: none;
    }
}