.custom-checkbox-label {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    padding-block: 0.5em;
    width: fit-content;
}

.custom-checkbox-label > input {
    display: none;
}

.custom-checkbox {
    position: relative;
    background-color: var(--main-theme-color);
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 3px solid var(--secondary-theme-color);
}

.custom-checkbox-label > input:checked + .custom-checkbox::after {
    content: "";
    position: absolute;
    inset: 2px;
    background-color: var(--gradient-color);
}