.custom-checkbox-label {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 30px;
    column-gap: 0.5em;
    margin-block: 1em;
    --border-radius: 3px;
    --border: var(--border-radius) solid var(--secondary-theme-color);
    --checkbox-size: 30px;
}

.custom-checkbox-label .checkbox {
    display: none;
}

.custom-checkbox {
    position: relative;
    background-color: var(--main-theme-color);
    outline: none;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius);
    border: var(--border);
}

.custom-checkbox-label .checkbox:checked + .custom-checkbox::after {
    content: "";
    position: absolute;
    inset: 2px;
    background-color: var(--gradient-color);
}

.custom-checkbox-label .text-field {
    border-radius: var(--border-radius);
    border: var(--border);
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    outline: none;
    height: 100%;
}

.custom-checkbox-label .button {
    background-color: var(--gradient-color);
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius);
    border: var(--border);
    outline: none;
    padding: 0;
}

.custom-checkbox-label .icon {
    fill: var(--main-theme-color);
    height: 100%;
    aspect-ratio: 1 / 1;
}