.custom-checkbox.focusable {
    cursor: pointer;
}

.custom-checkbox-label .checkbox {
    display: none;
}

.custom-checkbox {
    position: relative;
}

.custom-checkbox > span {
    position: absolute;
    inset: 0;
    background-color: var(--gradient-color);
    transform: scale(0);
    transition-property: transform, opacity;
    transition-duration: 200ms;
    transition-delay: 100ms;
    opacity: 0;
}

.custom-checkbox .icon {
    transition: opacity 100ms;
    opacity: 0;
}

.custom-checkbox-label .checkbox:checked + .custom-checkbox > span {
    transition-delay: 0ms;
    transform: scale(1);
    opacity: 1;
}

.custom-checkbox-label .checkbox:checked + .custom-checkbox .icon {
    transition-duration: 200ms;
    transition-delay: 200ms;
    opacity: 1;
}