.focusable[data-title] {
    position: relative;
    display: flex;
    justify-content: center;
}

.focusable[data-title]:after {
    content: attr(data-title);
    background-color: var(--secondary-theme-color);
    color: var(--main-theme-color);
    font-size: small;
    position: absolute;
    white-space: nowrap;
    opacity: 0;
    border-radius: var(--border-radius);
    padding: 0.8em 1em;
    transition: opacity 200ms;
    top: calc(100% + 0.8em);
    z-index: 99999;
    pointer-events: none;
}

.focusable[data-title]:hover:after {
    transition-delay: 500ms;
    opacity: .9;
}