*, *::before, *::after {
    box-sizing: border-box;
}

body {
    --main-header-height: 70px;
    --main-footer-height: 20px;

    display: flex;
    flex-flow: column;
    margin: 0;
    min-height: 100svh;
    font-weight: 800;
    font-family: Tahoma, sans-serif;
    color: var(--second-theme-color);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
}

::selection {
    color: var(--second-theme-color);
    background-color: var(--first-theme-color);
}

button {
    flex: 0 0 auto;
    font-family: inherit;
    font-weight: inherit;
    padding: 1em;
    background-color: var(--first-theme-color);
    color: var(--second-theme-color);
    border: var(--border-width) solid var(--third-theme-color);
    border-radius: var(--border-radius);
    text-shadow: 0 0 var(--border-width) var(--third-theme-color);
}

input[type=text], textarea {
    flex: 0 0 auto;
    height: var(--square-button-size);
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    background-color: var(--second-theme-color);
    color: var(--first-theme-color);
    border: var(--border-width) solid var(--third-theme-color);
    border-radius: var(--border-width);
}

svg {
    fill: var(--second-theme-color);
    height: 100%;
    width: 100%;
}

pre {
    flex: 0 0 auto;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    margin: 0;
    line-height: 1.4em;
    white-space: pre-wrap;
    word-break: break-all;
}

textarea {
    line-height: 1.4em;
    padding: 0.2em;
    resize: none;
}

ul {
    display: flex;
    flex-flow: column;
    row-gap: 0.8em;
}

img[src=""] {
    flex: 0 0 auto;
    display: none;
}