*, *::before, *::after {
    box-sizing: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    cursor: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    text-decoration: none;
    resize: none;
}