.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    fill: var(--main-theme-color);
}

.button {
    background-color: var(--gradient-color);
}

.text-field {
    padding: 0.1em;
}

.square {
    aspect-ratio: 1 / 1;
}

.max-height {
    height: 100%;
}

.shadow {
    box-shadow: 0 0 1em var(--secondary-theme-color);
}

.border {
    border-radius: var(--border-radius);
    border: var(--border-width) var(--border-style) var(--border-color);
    transition: border-color 200ms;
}

.focusable {
    border-radius: var(--border-radius);
}

.focusable:focus-visible {
    outline: 2px solid var(--gradient-color);
}

.button.focusable, .link.focusable {
    cursor: pointer;
}

.text-field.focusable {
    cursor: text;
}

.border.focusable:hover:not(.text-field) {
    border-color: var(--gradient-color);
}

.link.focusable:hover {
    text-decoration: underline;
    opacity: .8;
}

.spin-icon:hover > .icon {
    transition: transform 300ms;
    transform: rotate(1turn);
    opacity: .8;
}