.window-list li {
    margin-block: 0.8em;
    height: 2.4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    --border-color: var(--secondary-theme-color);
    --border-radius: calc(2 * var(--border-width));
}

.window-list li .button {
    font-size: large;
    color: var(--main-theme-color);
    width: 10em;
}

.window-footer {
    font-size: medium;
    display: flex;
    align-items: center;
    padding-inline: 1em;
    column-gap: 1em;
}

@keyframes show-window {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: none;
    }
}

@keyframes show-list {
    0%, 50% {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes show-title {
    0%, 50% {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}