.main-header {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--main-header-height);
    padding-inline: 120px;
    background-color: var(--third-theme-color);
}

.main-baner {
    height: 100%;
}

.main-nav-list {
    display: flex;
    column-gap: 1em;
    font-size: large;
}

.main-content {
    flex: 1 1 auto;
    display: flex;
    padding-block: var(--main-header-height);
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        var(--first-theme-color) 50%,
        var(--third-theme-color));
}

.main-footer {
    flex: 0 1 var(--main-footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    background-color: var(--third-theme-color);
}

.spinner {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    border: var(--border-width) solid var(--second-theme-color);
    border-right-color: transparent;
}

.hidden {
    display: none;
}