*, *::before, *::after {
    box-sizing: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    text-decoration: none;
}

:root {
    --header-height: 70px;
    --footer-height: 20px;

    --main-theme-color: #fefefe;
    --secondary-theme-color: #010101;
    --gradient-color: #1100ff;
}

body {
    min-height: 100svh;
    font-weight: 800;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: var(--main-theme-color);

    display: grid;
    grid-auto-columns: 100%;
    grid-template-rows: 
        1fr
        var(--footer-height);
}

header {
    position: fixed;
    top: 0;
    z-index: 2;
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 7em;
    background-color: var(--secondary-theme-color);
}

nav ul {
    list-style-type: none;
}

main {
    background: linear-gradient(
        var(--gradient-color) 50%,
        var(--secondary-theme-color));
    padding-block: 5em;
}

footer {
    background-color: var(--secondary-theme-color);
    font-size: medium;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    fill: var(--main-theme-color);
}

.button {
    background-color: var(--gradient-color);
}

.border {
    border-radius: var(--border-radius);
    border: var(--border-width) var(--border-style) var(--border-color);
    transition: border-color 200ms;
}

.border.focusable:hover:not(.text-field) {
    border-color: var(--gradient-color);
}

.text-field {
    padding: 0.12em;
}

.focusable:focus-visible {
    outline: 2px solid var(--gradient-color);
}

.button.focusable, .custom-checkbox.focusable, .link.focusable {
    cursor: pointer;
}

.link.focusable:hover {
    text-decoration: underline;
    opacity: .8;
}

.square {
    aspect-ratio: 1 / 1;
}

.spin-icon:hover > .icon {
    transition: transform 300ms;
    transform: rotate(1turn);
    opacity: .8;
}

.max-height {
    height: 100%;
}

.custom-checkbox-label .checkbox {
    display: none;
}

.custom-checkbox {
    position: relative;
}

.custom-checkbox::after {
    content: "";
    position: absolute;
    inset: 2px;
    background-color: var(--gradient-color);
    transform: scale(0);
    transition-property: transform, opacity;
    transition-duration: 200ms;
    opacity: 0;
}

.custom-checkbox-label .checkbox:checked + .custom-checkbox::after {
    transform: scale(1);
    opacity: 1;
}

.animated-button {
    position: relative;
}

.animated-button.previous {
    --before-content: "<<";
    --hover-offset: 1em;
}

.animated-button.next {
    --after-content: ">>";
    --hover-offset: -1em;
}

.animated-button > span {
    transition: transform 200ms; 
}

.animated-button:hover > span {
    transform: translateX(var(--hover-offset));
}

.animated-button > span::before,
.animated-button > span::after {
    position: absolute;
    transition: opacity 200ms;
    opacity: 0;
}

.animated-button > span::before {
    content: var(--before-content);
    right: calc(100% + 0.5em);
}

.animated-button > span::after {
    content: var(--after-content);
    left: calc(100% + 0.5em);
}

.animated-button:hover > span::before,
.animated-button:hover > span::after {
    opacity: 1;
}

.window {
    --header-height: 70px;
    --content-height: 500px;
    --footer-height: 40px;
    
    --border-color: var(--main-theme-color);
    --border-width: 3px;
    --border-style: solid;
    font-size: x-large;
    
    width: 800px;
    overflow: hidden;
    display: grid;
    grid-template-rows:
    var(--header-height)
    var(--content-height)
    var(--footer-height);
    animation: show-window 600ms;
}

.window-header {
    background-color: var(--secondary-theme-color);
    display: flex;
    align-items: center;
    z-index: 1;
    box-shadow: 0 0 1em var(--secondary-theme-color);
}

.window-title {
    margin-inline: 1em;
    animation: show-title 600ms;
}

.window-content {
    color: var(--secondary-theme-color);
    background-color: var(--main-theme-color);
}

.window-footer {
    background-color: var(--secondary-theme-color);
}

.window-list {
    list-style-type: none;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 1em 1.6em;
    animation: show-list 600ms;
}