[data-error-message], [data-title] {
    position: relative;
    display: flex;
    justify-content: center;
}

[data-error-message]::after, [data-title]::after {
    z-index: 1;
    position: absolute;
    top: calc(100% + 0.8em);
    white-space: nowrap;
    font-size: small;
    pointer-events: none;
    padding: 0.8em 1em;
    opacity: 0;
    background-color: var(--third-theme-color);
    color: var(--second-theme-color);
    border-radius: var(--border-radius);
    transition: opacity var(--transition-duration);
}

[data-title]::after {
    content: attr(data-title);
}

[data-error-message]::after {
    content: attr(data-error-message);
}

[data-title]:hover::after {
    transition-delay: 500ms;
    opacity: .9;
}

[data-error-message].error::after {
    opacity: .9;
}