.link:hover {
    text-decoration: underline;
    opacity: .8;
    cursor: pointer;
}

.reset-button:hover svg {
    opacity: .8;
}

button {
    font-size: large;
    transition-property: background-color, border-color;
    transition-duration: var(--transition-duration);
}

button:hover, .custom-checkbox:hover {
    border-color: var(--first-theme-color);
    cursor: pointer;
}

button:disabled,
.custom-checkbox[disabled],
.custom-checkbox[disabled] span {
    background-color: var(--third-theme-color);
    pointer-events: none;
}

input[type=text], textarea {
    transition: border var(--transition-duration);
}

input[type=text]:focus-visible, textarea:focus-visible {
    animation: none;
    outline: none;
    border-color: var(--first-theme-color);
}

.window-progress-bar {
    transition: width var(--animation-duration);
}