:focus-visible {
    outline: var(--border-width) solid var(--first-theme-color);
}

.link:hover {
    text-decoration: underline;
    opacity: .8;
    cursor: pointer;
}

.reset-button:hover svg {
    opacity: .8;
}

button, .custom-checkbox {
    font-size: large;
    transition-property: 
        border-color,
        box-shadow,
        background-color;
    transition-duration: var(--transition-duration);
}

button:hover, .custom-checkbox:hover {
    cursor: pointer;
    border-color: var(--first-theme-color);
}

button:hover {
    box-shadow: 0 0 var(--border-radius) var(--third-theme-color);
    text-shadow: 0 0 var(--border-width) var(--third-theme-color);
}

[disabled],
.custom-checkbox[disabled] span {
    background-color: var(--third-theme-color);
    pointer-events: none !important;
}