:focus-visible {
    outline: var(--border-width) solid var(--first-theme-color);
}

.link:hover {
    text-decoration: underline;
    opacity: .8;
    cursor: pointer;
}

.reset-button:hover svg {
    opacity: .8;
}

button {
    font-size: large;
    transition-property: background-color, border-color;
    transition-duration: var(--transition-duration);
}

button:hover, .custom-checkbox:hover {
    border-color: var(--first-theme-color);
    cursor: pointer;
}

[disabled],
[disabled] span {
    background-color: var(--third-theme-color);
    pointer-events: none;
}

.window-progress-bar {
    transition: width var(--animation-duration);
}