.window {
    --header-height: 70px;
    --content-height: 500px;
    --footer-height: 40px;
    
    width: 800px;
    font-size: x-large;
    overflow: hidden;
    display: grid;
    grid-template-rows:
        var(--header-height)
        var(--content-height)
        var(--footer-height);
}

.window-header {
    background-color: var(--secondary-theme-color);
    display: flex;
    align-items: center;
    z-index: 1;
}

.window-title {
    margin-inline: 1em;
}

.window-content {
    color: var(--secondary-theme-color);
    background-color: var(--main-theme-color);
}

.window-footer {
    background-color: var(--secondary-theme-color);
}

.window-list {
    list-style-type: none;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 1em 1.6em;
    scrollbar-color: var(--secondary-theme-color) transparent;
}

.window-list li {
    margin-block: 0.8em;
    display: flex;
    align-items: center;
}