.window {
    --header-height: 70px;
    --content-height: 500px;
    --footer-height: 40px;
    
    display: flex;
    flex-flow: column;
    width: 800px;
    background-color: var(--second-theme-color);
    border: var(--border-width) solid var(--second-theme-color);
}

.window-header {
    flex: 0 1 var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--third-theme-color);
}

.window-title {
    padding-inline: 1em;
}

.reset-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    width: var(--header-height);
}

.reset-button {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    height: 1.7em;
}

.window-content {
    flex: 0 1 var(--content-height);
    display: flex;
    flex-flow: column;
    font-size: x-large;
    color: var(--third-theme-color);
}

.window-preview {
    flex: 1 1 auto;
}

.window-list {
    flex: 1 1 auto;
    overflow-y: scroll;
    padding: 1.5em;
    scroll-behavior: smooth;
    scrollbar-color: var(--third-theme-color) var(--second-theme-color);
}

.square-button {
    width: var(--square-button-size);
    height: var(--square-button-size);
    padding: 0;
    border-radius: var(--border-width);
}

.window-buttons-container {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

.window-buttons-container button {
    width: 12em;
}

.window-footer {
    flex: 0 1 var(--footer-height);
    display: flex;
    position: relative;
    align-items: center;
    background-color: var(--third-theme-color);
}

.window-footer-label {
    margin-inline: 1em 0.5em;
}

.window-progress-bar-state {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-progress-bar {
    height: 100%;
    width: 0;
    background-color: var(--first-theme-color);
}

.window-shadow {
    box-shadow: 0 0 1em var(--third-theme-color);
}