.window-list-element.image-input,
.window-list-element.labeled-button,
.window-list-element.labeled-text-input,
.window-list-element.duration-and-place-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window-list-element.duration-and-place-element {
    padding-bottom: 2em;
}

.window-list-element.labeled-button button {
    width: 10em;
}

.window-list-element.add-duration-and-place-section .add-button-container {
    display: flex;
    justify-content: flex-end;
}

.window-list-element.text-area {
    flex: 1 1 auto;
    padding: 0;
}

.window-list-element.text-area textarea {
    width: 100%;
    height: 100%;
}

.window-list-element.checkbox-with-button {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
}

.window-list-element.checkbox-with-button :nth-child(2) {
    flex: 1 1 auto;
}

.window-list-element.checkbox-with-button :nth-child(2) > input[type=text] {
    width: 100%;
}

.window-list-element.image-input img {
    border: var(--border-width) solid var(--third-theme-color);
    border-radius: var(--border-radius);
}