.window-list li {
    height: 2.4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    --border-color: var(--secondary-theme-color);
    --border-radius: calc(2 * var(--border-width));
}

.window-list li .button {
    font-size: large;
    color: var(--main-theme-color);
    width: 10em;
}

.window-footer {
    font-size: medium;
    display: flex;
    padding-inline: 1em;
    align-items: center;
}

.window-footer > span {
    animation: show-title var(--animation-duration);
}

.window-footer .link{
    margin-inline: 1em;
}