.window {
    --show-animation-slide-direction: 1;
}

.window-header {
    justify-content: space-between;
}

.reset-button-container .button {
    height: 30px;
    background: none;
}

.window-content {
    display: grid;  
    grid-template-rows: 1fr auto;
    --border-color: var(--secondary-theme-color);
}

.custom-checkbox-label {
    display: grid;
    align-items: center;
    height: 36px;
    grid-template-columns: 30px 1fr 30px;
    column-gap: 1em;
    margin-block: 1em;
}

.form-buttons-container
{
    --border-radius: calc(2 * var(--border-width));
    font-size: large;
    color: var(--main-theme-color);
    display: flex;
    justify-content: space-between;
    padding: 1.5em 2em;
}

.form-buttons-container .button {
    width: 12em;
    height: 3.5em;
}

.window-footer {
    --border-color: var(--secondary-theme-color);
}

.form-progress-bar {
    background-color: var(--gradient-color);
    transition: width 400ms;
}