.reset-button-container .button {
    height: 30px;
    background: none;
}

.window-content {
    display: flex;
    flex-flow: column;
    font-size: large;
    --border-color: var(--secondary-theme-color);
}

.window-list {
    flex: 0 1 calc(var(--content-height) - 6.5em);
}

.custom-checkbox-label {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    column-gap: 1em;
}

.duration-and-date-element {
    display: flex;
    align-items: center;
}

.custom-checkbox,
.window-list-element .button,
.window-list-element .text-field {
    height: 38px;
}

.custom-checkbox-label :nth-child(2) {
    flex: 1 1 auto;
}

.buttons-container
{
    --border-radius: calc(2 * var(--border-width));
    color: var(--main-theme-color);
    display: flex;
    justify-content: space-between;
    padding: 1.5em 2em;
}

.buttons-container .button {
    width: 12em;
    height: 3.5em;
}

.window-footer {
    --border-color: var(--secondary-theme-color);
    position: relative;
}

.progress-bar {
    background-color: var(--gradient-color);
    transition: width 400ms;
}

.progress-bar-state {
    position: absolute;
    inset: 0;
    font-size: medium;
}

.window-content textarea.text-field {
    width: 100%;
    height: calc(var(--content-height) - 8em);
    padding: 0.2em;
}

.window-content pre {
    line-height: 1.5em;
    white-space: pre-wrap;
    word-break: break-all;
    flex: 1 1 auto;
}