.reset-button-container .button {
    height: 30px;
    background: none;
}

.window-content {
    display: grid;  
    grid-template-rows: 1fr auto;
    --border-color: var(--secondary-theme-color);
}

.custom-checkbox-label {
    display: grid;
    align-items: center;
    height: 36px;
    grid-template-columns: 30px 1fr 30px;
    column-gap: 1em;
}

.buttons-container
{
    --border-radius: calc(2 * var(--border-width));
    font-size: large;
    color: var(--main-theme-color);
    display: flex;
    justify-content: space-between;
    padding: 1.5em 2em;
}

.buttons-container .button {
    width: 12em;
    height: 3.5em;
    transition: background-color 200ms;
}

.buttons-container .button[data-disabled=true] {
    background-color: var(--secondary-theme-color);
    outline: none;
}

.window-footer {
    --border-color: var(--secondary-theme-color);
    position: relative;
}

.progress-bar {
    background-color: var(--gradient-color);
    transition: width 400ms;
}

.progress-bar-state {
    position: absolute;
    inset: 0;
    font-size: medium;
}

.window-content pre {
    line-height: 1.5em;
}

.window-content textarea {
    width: 100%;
    height: calc(var(--content-height) - 8.5em);
    padding: 0.2em;
}